filtering:
  threshold: 10
  high_count_criteria:
    exact: ['YLQPRTFLL_R1', 'YLQPRTFLL_R2']
  low_count_criteria:
    startswith: []

columns:
  junction: "junction"
  junction_aa: "junction_aa" 
  v_call: "v_call"
  d_call: "d_call"
  j_call: "j_call"

processing:
  junction_delimiter: ";"
  gene_delimiter: ","
  strip_prefixes: 
    - "TRB:"
    - "TRA:"