filtering:
  threshold: 10
  high_count_criteria:
    exact: ["positive"] 
  low_count_criteria:
    startswith: ["peptide"]

columns:
  junction: "junction"
  junction_aa: "junction_aa" 
  v_call: "v_call"
  d_call: "d_call"
  j_call: "j_call"
  positive: "positive"

processing:
  junction_delimiter: ";"
  gene_delimiter: ","
  strip_prefixes: 
    - "TRB:"
    - "TRA:"